
.text-align-right {
    text-align: right;
}
.body{
   margin-right:-11% ;
    margin-left:-11% ;
    margin-top: 2%;
} 
.gradient-custom {
 
    background: -webkit-linear-gradient(to right, rgb(25, 56, 12), rgb(164, 185, 145));
    background: linear-gradient(to right,rgb(151, 233, 116), rgb(32, 43, 21));
  
    }
    /* #img{
        height: 350px;
        width: 300px;
       background-image: url(../../imags/g.png);
     position: fixed;
     top: 40%;
     left: -2%;
     } */
    