
<div id="body">
<section class="gradient-custom">
  <div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">כניסה</h2>
              <p class="text-white-50 mb-5">הכנס אימייל וסיסמה</p>

              <div class="form-outline form-white mb-4">
                <input id="typeEmailX" class="form-control form-control-lg"  type="email"  [(ngModel)]="req.Email"  name="email"  placeholder="אימייל"  style="text-align: right;"/>
                <label class="form-label" for="typeEmailX">אימייל</label> 
              </div>

              <div class="form-outline form-white mb-4">
                <input id="typePasswordX" class="form-control form-control-lg"placeholder="סיסמה"  name="password" 
                    [(ngModel)]="req.Password" 
                    type="password"
                    style="text-align: right;"/>
                <label class="form-label" for="typePasswordX">סיסמה</label>
              </div>


              <div class="radio">
              <label style="margin-left: 10px;">
                <input type="radio" type="radio" 
                id="option1"
                name="radioGroup"
                [(ngModel)]="role"
                value="1">ספק</label>
             <label>
              <input type="radio"  type="radio"
              id="option1"
              name="radioGroup"
              [(ngModel)]="role"> לקוח</label>
              </div>
           
<br>
<br>


              <button class="btn btn-outline-light btn-lg px-5"   (click)="login()" type="submit" >הכנס</button>
          <br><br>

              <p class="mb-0">עדיין אין לך חשבון? <a  (click)="showDiv()" class="text-white-50 fw-bold"> להרשמה</a>  </p><br>
                <div  [hidden]="isShowDiv">
                  <button class="btn s" style="color: white;" routerLink="/registration-form">לקוח</button>
                  
                  <button class="btn s" style="color: white;" routerLink="/supplier-registration">ספק </button>
                 </div>
            
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<!-- <div id="img"></div> -->